{% extends "base.html" %}
{%load static%}

{% block content %}
    <h1 class="text-center text-sky-900 text-4xl md:text-4xl font-semibold ">All posts created by Author 
        <span class="text-sky-500"> 
            @{{author.username}}
        </span>    

    </h1>
    {% include "includes/_user_avatar.html" with user_obj=author %}

    {% for post in posts%}
        {% include "includes/_post_card.html" with words_count=50 post=post show_likes=True%}
        <br></br>
    {% endfor %}
{% endblock content %}