{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <header class="mb-12 text-center">
        <h1 class="text-5xl font-extrabold text-gray-900 mb-4 tracking-tighter">
            Latest published posts
        </h1>
    </header>

    <div class="grid gap-12">
        {% for post in posts %}
            {% include "includes/_post_card.html" with words_count=50%}
        {% empty %}
            <div class="flex flex-col items-center justify-center py-20 text-center">
                <img class="h-max w-auto transition-transform group-hover:scale-105" src="{% static 'images/empty_list.png' %}" alt="No posts published">
            </div>
            {% include "includes/_action_section.html" with title="Be the first to share your story with us!" subtitle="Click the button below and start your writing journey!" button_text="Create First Post" url="#" %}
        {% endfor %}

        {% if is_paginated %}
           {% include "includes/_pagination.html"%}
        {% endif %}
    </div>
    {% if posts %}
        {% include "includes/_action_section.html" with title="Have something to share?" subtitle="World needs to hear your story today!" button_text="Start writing" url="#" %}
    {% endif %}
</div>
{% endblock %}