{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
        <img src="{% static 'images/byline_logo.png' %}" alt="{% trans 'Byline Logo' %}" style="height: 70px; width: auto;">

        <span style="color: #3dd3ee; font-weight: bold; font-size: 35px;">
            {% blocktrans with site_name="Byline-Blog"%}
                Your %(site_name)s Admin Portal
            {% endblocktrans %}
        </span>
    </a>
</h1>
{% endblock %}